.socials__list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.socials__list-item {
  margin: 0 5px;
}

.socials__list-link {
  align-items: center;
  display: flex;
  justify-content: center;
}
