aside.aside
  .profile
    .profile__photo
      img(src='img/profile-photo.jpg' alt='Profile Photo')
    span.profile__name Klim Lyapin
    span.profile__work Software Developer

  .aside__item-wrapper
    .aside__item
      .aside__item-header
        .aside__icon
          img(src='img/icon-aim.svg')
        span.aside__item-title Career Objective
        
      .aside__item-body
        p.aside__item-text I want to be a part of a team in the Informational Technology field. Highly motivated to work efficiently and to reach new heights. 
        
    .aside__item
      .aside__item-header
        .aside__icon
          img(src='img/icon-info.svg')
        span.aside__item-title General Info
      .aside__item-body
        .aside__subitem
          span.aside__subitem-title Personal
          ul.aside__list
            li.aside__list-item First Name: Klim
            li.aside__list-item Last Name: Lyapin
            li.aside__list-item Nationality: Russian
            li.aside__list-item Date Of Birth: 23 June, 1998 (Age 19)
        
        .aside__subitem
          .aside__row--margin-small.aside__subitem-title Interests
          .aside__row
            .aside__col
              .aside__icon-interest
                img(src='img/icon-code.svg')
              span.aside__interest-text Programming
              
            .aside__col
              .aside__icon-interest
                img(src='img/icon-game.svg')
              span.aside__interest-text Playing
              
          .aside__row
            .aside__col
              .aside__icon-interest
                img(src='img/icon-music.svg')
              span.aside__interest-text Listening
              
            .aside__col
              .aside__icon-interest
                img(src='img/icon-travel.svg')
              span.aside__interest-text Travelling
    
    .aside__item
      .aside__item-header
        .aside__icon
          img(src='img/icon-contact.svg')
        span.aside__item-title For Contact
        
      .aside__item-body
        .aside__row.--margin-small
          .aside__col
            .aside__icon
              img(src='img/icon-telegram.svg')
            span.aside__interest-text @elzzzy
            
        .aside__row.--margin-small
          .aside__col
            .aside__icon
              img(src='img/icon-phone.svg')
            span.aside__interest-text +7 986 950 68 04
            
        .aside__row.--margin-small
          .aside__col
            .aside__icon
              img(src='img/icon-mail.svg')
            span.aside__interest-text.aside__email(data-user='nipayl.milk' data-website='moc.liamg')
  
  .socials
    ul.socials__list
      li.socials__list-item
        a(href='https://vk.com/elzzz').socials__list-link
          .aside__icon-socials
            img(src='img/icon-vk-logo.svg')
      li.socials__list-item
        a(href='https://www.linkedin.com/in/klim-lyapin-462917142/').socials__list-link
          .aside__icon-socials
            img(src='img/icon-linkedin-logo.svg')
      li.socials__list-item
        a(href='https://t.me/elzzzy').socials__list-link
          .aside__icon-socials
            img(src='img/icon-telegram-logo.svg' height='32', width='32')
