main.main
  .main__item
    span.main__item-title Education
    .main__item-body
      .main__row
        .main__col
          .main__col-title
            span 2016-2020
          .main__col-title
            span Bachelor's degree
        .main__col
          .main__col-text
            span Samara State Technical University
          .main__col-text
            span System Analysis and Management
          
  .main__item
    span.main__item-title Skills
    .main__item-body
      .main__row
        .main__col-title
          span Linux
        .main__col-text
          span Got the hands-on experience with Bash programming, Vagrant deployment, services installation and management like Nagios, Nginx, Apache, MySQL (including clusterizing), DRBD, LVM and so on.
      .main__row
        .main__col-title
          span Python
        .main__col-text
          span Composed Puppet-like client-server application based on TCP-sockets. Used Flask, PyQT, ncurses and some more technologies. Tools used: vim + tmux, PyCharm, git.
          
      .main__subitem-title Full toolset I have worked with
      .main__row
        .main__col-title
          span Linux based infrastructure and services
        .main__col-text
          span Apache, MySQL, PostgreSQL, Nginx, Nagios, DRBD and others.
      .main__row
        .main__col-title
          span OS/Virtualization 
        .main__col-text
          span Debian, Docker and Vagrant.
      .main__row
        .main__col-title
          span Programming skills 
        .main__col-text
          span Python, Ruby, Bash, HTML5 (with template engines such as slim or pug), CSS3 (with SASS preprocessor), JS.
      .main__row
        .main__col-title
          span Frameworks, libraries, toolkits 
        .main__col-text
          span Django, Ruby on Rails, Flask, Bootstrap, PyQt, ncurses, Selenium, RabbitMQ, pyTelegramBotAPI, Gulp.
      .main__row
        .main__col-title
          span IDEs
        .main__col-text
          span PyCharm, RubyMine, WebStorm, Atom.
              
  .main__item
    span.main__item-title Portfolio
    .main__item-body
      ul.portfolio__list
        li.portfolio__list-item
          a(href="https://github.com/elzzz/").portfolio__list-link GitHub: https://github.com/elzzz/
        li.portfolio__list-item
          a(href="https://htmlacademy.ru/profile/id577443").portfolio__list-link Profile: https://htmlacademy.ru/profile/id577443
        li.portfolio__list-item
          a(href="https://www.codecademy.com/elzzzy").portfolio__list-link Codecadey: https://www.codecademy.com/elzzzy
